<div class="confidence-banner-products">

    <div class="confid-inner">

        <div class="banner-section">
 
            <div class="banner-icon">
    
                <img data-src="{{ 'au-delivery.svg' | asset_url  }}" class="lazyload"/>
    
            </div>
    
                <div class="banner-text">
                
                    <p class='black small-p'>{{ 'product.confidence.uk_delivery' | t }}</p>
                    <p class='small-p'>{{ 'product.confidence.uk_delivery_desc' | t }}</p>
                
                </div>

           
        </div>

        <div class="banner-section">
 
            <div class="banner-icon">
    
                <img data-src="{{ 'warranty.svg' | asset_url  }}" class="lazyload"/>
    
            </div>
    
                <div class="banner-text">
                
                    <p class='black small-p'>{{ 'product.confidence.warranty' | t }}</p>
                    <p class='small-p'>{{ 'product.confidence.warranty_desc' | t }}</p>
                
                </div>

           
        </div>

        <div class="banner-section">
 
            <div class="banner-icon">
    
                <img data-src="{{ 'coin.svg' | asset_url  }}" class="lazyload"/>
    
            </div>
    
                <div class="banner-text">
                
                    <p class='black small-p'>{{ 'product.confidence.money' | t }}</p>
                    <p class='small-p'>{{ 'product.confidence.money_desc' | t }}</p>
                
                </div>

           
        </div>

       



    </div>

</div>

