{% schema %}

{
    "name": "Klarna Page",
    "class": "faq-section",
    "blocks": [
        {
            "type": "Faq-Section",
            "name": "FAQ Section",
            "settings": [
                {
                    "id": "section_id",
                    "type": "text",
                    "label": "Section ID",
                    "info": "DO NOT CHANGE THIS, this is the link to this section of the page",
                    "placeholder": "Insert Product Name"
                }, {
                    "id": "faq_image",
                    "type": "image_picker",
                    "label": "Faq Section image"
                }, {
                    "id": "faq_title",
                    "type": "text",
                    "label": "Section Title",
                    "placeholder": "Section Title"
                }, {
                    "id": "product_url",
                    "type": "url",
                    "label": "Button URL"
                }, {
                    "id": "product_text",
                    "type": "text",
                    "label": "Button Text",
                    "placeholder": "See Product",
                    "info": "Link to product"
                }, {
                    "id": "faq_question_1",
                    "type": "text",
                    "label": "FAQ Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_1",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_2",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_2",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_3",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_3",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_4",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_4",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_5",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_5",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_6",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_6",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_7",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_7",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_8",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_8",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_9",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_9",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_10",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_10",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_11",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_11",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_12",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_12",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_13",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_13",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_14",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_14",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_15",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_15",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_16",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_16",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_17",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_17",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_18",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_18",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_19",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_19",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_20",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_20",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_21",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_21",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_22",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_22",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_23",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_23",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }, {
                    "id": "faq_question_24",
                    "type": "text",
                    "label": "FAQ Question Title",
                    "placeholder": "FAQ Question Title"
                }, {
                    "id": "faq_desc_24",
                    "type": "richtext",
                    "label": "FAQ Answer"
                }
            ]
        }
    ],
    "presets": [
        
        {
            "category": "faq-page",
            "name": "Display FAQ Sections"
        }
    ]
}

{% endschema %}

<section>

    {% for block in section.blocks %}

        {% case block.type %}

            {% when 'Faq-Section' %}

                <section class="general-faq-section" id='{{ block.settings.section_id }}-faq'>


                    <div class="inner faq-item-group">
                        <div class="faq-item-20">

                            {% if block.settings.faq_image  %}
                                <img data-src="{{ block.settings.faq_image | img_url: 'master' }}" alt="{{ block.settings.faq_image.alt }}" class="lazyload"/>
                            {% endif %}

                            <div class="faq-item-text">
                                <h4 class="uppercase">{{ block.settings.faq_title }}</h4>


                                {% if block.settings.product_url != blank %}
                                    <a href="{{ block.settings.product_url }}" class="block-button">
                                        {% if block.settings.product_text != blank %}
                                            {{ block.settings.product_text }}
                                        {% else %}
                                            {{ "general.shop.shop_now" | t }}
                                        {% endif %}
                                    </a>

                                {% endif %}
                            </div>

                        </div>
                        <div class="faq-item-80">

                            <section class="tab-section" id="faqs">


                                <div class="tabs">

                                    {% if block.settings.faq_question_1 != blank %}

                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_1 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_1 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}


                                    {% if block.settings.faq_question_2 != blank %}

                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_2 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_2 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}
                                    {% if block.settings.faq_question_3 != blank %}

                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_3 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_3 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}
                                    {% if block.settings.faq_question_4 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_4 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_4 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}
                                    {% if block.settings.faq_question_5 != blank %}

                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_5 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_5 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}
                                    {% if block.settings.faq_question_6 != blank %}

                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_6 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_6 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}
                                    {% if block.settings.faq_question_7 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_7 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_7 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}
                                    {% if block.settings.faq_question_8 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_8 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_8 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}
                                    {% if block.settings.faq_question_9 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_9 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_9 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}
                                    {% if block.settings.faq_question_10 != blank %}

                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_10 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_10 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}

                                    {% if block.settings.faq_question_11 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_11 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_11 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}

                                    {% if block.settings.faq_question_12 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_12 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_12 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}

                                    {% if block.settings.faq_question_13 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_13 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_13 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}

                                    {% if block.settings.faq_question_14 != blank %}

                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_14 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_14 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}

                                    {% if block.settings.faq_question_15 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_15 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_15 }}</p>
                                            </div>

                                        </div>
                                    {% endif %}

                                    {% if block.settings.faq_question_16 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_16 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_16 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}

                                    {% if block.settings.faq_question_17 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_17 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_17 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}

                                    {% if block.settings.faq_question_18 != blank %}

                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_18 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_18 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}

                                    {% if block.settings.faq_question_19 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_19 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_19 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}

                                    {% if block.settings.faq_question_20 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_20 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_20 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}
                                    {% if block.settings.faq_question_21 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_21 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_21 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}
                                    {% if block.settings.faq_question_22 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_22 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_22 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}
                                    {% if block.settings.faq_question_23 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_23 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_23 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}
                                    {% if block.settings.faq_question_24 != blank %}
                                        <div class="tab">
                                            <input class="tab-input" type="checkbox">

                                            <label class="tab-label">
                                                <p class="black">{{ block.settings.faq_question_24 }}</p>
                                            </label>
                                            <div class="tab-content">
                                                <p>{{ block.settings.faq_desc_24 }}</p>
                                            </div>

                                        </div>

                                    {% endif %}

                                </div>


                            </section>

                        </div>
                    </div>
                </section>


        {% endcase %}
    {% endfor %}

</section>
