{% render 'preorder-now-collection-item', product: product %}
        {% comment %} {% include "product-shipping-returns" %} {% endcomment %}

{% comment %}
	Breaking up the description into different pieces
{% endcomment %}


<div class="product-page" id="page-product">

    {% comment %}Begin Product Top{% endcomment %}
    <div id="product-top">

        <div class="product-top-inner">
            <div class="product-images js-product-slideshow">


                <div class="slides js-slides">
                    {% for image in product.images %}

                        {% comment %}
							if one image available, single image shown
						{% endcomment %}
                        <div class="single-image">
                            <img data-src="{{ image.src | img_url: '1000x' }}" alt="{{ image.alt | escape }}" class='lazyload'>
                        </div>
                    {% endfor %}
                </div>

                <div class="slider-nav">
                    {% for image in product.images %}

                        {% comment %}
							if one image available, single image shown
						{% endcomment %}
                        <div class="single-image">
                            <img data-src="{{ image.src | img_url: '1000x' }}" alt="{{ image.alt | escape }}" class='lazyload'>
                        </div>
                    {% endfor %}

                </div>
                {% comment %}
					if images available multiple image slideshow
				{% endcomment %}
                {% if product.images.size > 1 %}
                    {% include 'slider-buttons' %}

                    <div class="image-counter">
                        <span class="js-current-slide">
                            1
                        </span>
                        of
                        {{ product.images.size }}
                    </div>
                {% endif %}

            </div>


            <div class="product-actions">


                <nav aria-label="breadcrumbs" class="breadcrumb" role="navigation">
                    {% comment %}
						if within collection url, display collecion name
					{% endcomment %}
                    {% if collection %}
                        <a class="current-page" href="{{ collection.url }}">{{ collection.title }}</a>
                    {% endif %}

                </nav>


                <h2 class="uppercase product-title">{{ product.title }}</h2>
                {% comment %}
					{{ description }}
				{% endcomment %}
              <div class="yotpo bottomLine"
    data-appkey="sUnimvLjrmNljb4x2eC8Lp5UJNikQuyGNVKTalTh"
    data-domain="{{shop.permanent_domain | escape }}"
    data-product-id="{{ product.id }}"
    data-product-models="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
    data-description="{{ product.description | escape }}"
    data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
</div>

                {% include 'add-to-cart-form' %}


                {% include 'confidence-logos' %}

            </div>
        </div>

    </div>
    {% comment %}End Product Top{% endcomment %}

    {% include 'crosselling' %}

    {% comment %}Begin Product Bottom{% endcomment %}
    <div id="product-bottom">

        {% if description != blank %}
            <div class="info-section description single_product__inner">
                <h5 class="uppercase">{{ 'product.description.title' | t }}</h5>
                <div class="product-description">
                    {% comment %}
						this has been set above by the description_array
					{% endcomment %}

                    <p>{{ description }}</p>
                </div>
            </div>

        {% endif %}


        <div class="shipping-returns">
            <div class="info-section shipping">
                <h6 class="font-bolder uppercase">{{ 'product.shipping.title' | t }}</h6>
                <p>{{ shop.shipping_policy }}</p>
            </div>

            <div class="info-section returns">
                <h6 class="font-bolder uppercase">{{ 'product.returns.title' | t }}</h6>
                <p>{{ shop.refund_policy }}</p>
            </div>
        </div>
      
      
    </div>

    {% comment %}End Product Bottom{% endcomment %}

    {% comment %}
		if we are in product more.liquid re assign collection
	{% endcomment %}

    {% if collection %}
        {% include 'product-more' with collection: collection, exclude: product.handle %}
    {% endif %}


</div>

<!--Yotpo Main Widget-->
<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" data-price="{{ variant.price | money_without_currency }}"
data-currency=“{{ shop.currency }}” data-description=“{{ product.description | escape }}“>
{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
 {%- assign time_now = ‘now’ | date: ‘%s’ %}
 {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: ‘%s’ %}
 {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
 {%- assign yotpo_main_widget_last_updated = product.metafields.yotpo.main_widget_update_time | date: ‘%s’ %}
 {%- assign diff_seconds_from_last_main_widget_update = time_now | minus: yotpo_main_widget_last_updated %}
 {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_main_widget_last_updated and diff_seconds_from_last_main_widget_update < 86400 -%}
  {%- assign yotpo_main_widget_obsolete = false %}
 {%- else %}
  {%- assign yotpo_main_widget_obsolete = true %}
 {%- endif %}
 {%- if yotpo_offload_content == ‘yes’ and yotpo_main_widget_obsolete != true -%}
  {%- for field in product.metafields.yotpo_reviews -%}
   {{ field | last }}
  {%- endfor -%}
 {%- endif %}
</div>
<!--End of Yotpo Main Widget-->

